# Eclipse
.classpath
.project
.settings/

# Maven
target/
*.ser
*.ec

# Intellij
*.ipr
*.iml
*.iws
.idea/

# Other
.DS_Store
.clover
build.log
atlassian-ide-plugin.xml
components/nexus-core/groovy-classes/
components/nexus-ui-plugin/dist/
dependency-reduced-pom.xml
node_modules/
out

# Zion
.zion/
variables.properties

# Yarn cache
.yarn/cache/
.yarn/install-state.gz

