/**
 * @class Ext.tab.Panel
 */

/**
 * ui: 'light'
 */

@include extjs-panel-ui(
  $ui: 'nx-light',

  $ui-header-color: $color-night-rider,
  $ui-header-background-color: $color-light-smoke,
  $ui-header-font-size: 16px,
  $ui-header-line-height: 20px

  // FIXME: Unable to control icon spacing, unsure why
  //$ui-header-icon-spacing: 6px,
  //$ui-header-icon-height: 16px,
  //$ui-header-icon-width: 16px,
  //$ui-header-icon-background-position: $panel-header-icon-background-position, // center center

  // FIXME: Unable to control glyph colors here, unsure why
  //$ui-header-glyph-color: $color-smalt,
  //$ui-header-glyph-opacity: 1
);

@include extjs-tab-ui(
  $ui: 'nx-light',

  $ui-background-color: $color-light-smoke,
  $ui-background-color-over: $color-smoke,
  $ui-background-color-active: $color-white,
  $ui-background-color-disabled: $color-light-smoke,
  
  $ui-margin: 0 2px,
  $ui-padding: 5px 12px,
  $ui-text-padding: 0,
  $ui-font-size: $font-size-body,
  $ui-font-weight: $font-weight-body,
  $ui-font-weight-over: $font-weight-body,
  $ui-font-weight-active: $font-weight-body,
  $ui-font-weight-disabled: $font-weight-body,
  $ui-border-color: $color-light-smoke,
  $ui-border-color-over: $color-gainsboro,
  $ui-border-color-active: $color-white,
  $ui-border-color-disabled: $color-light-smoke,

  $ui-border-radius: 6px,
  $ui-border-width: 1px,

  $ui-color: $color-navy-blue,
  $ui-color-over: $color-navy-blue,
  $ui-color-active: $color-night-rider,
  $ui-color-disabled: $color-night-rider
);

@include extjs-tab-bar-ui(
  $ui: 'nx-light',

  $ui-strip-height: 1px,
  $ui-strip-border-width: 1px,
  $ui-strip-plain-border-width: 1px,
  $ui-strip-border-color: $color-light-gray,
  $ui-strip-background-color: $color-light-smoke,

  $ui-padding: 5px 0 2px 0,
  $ui-background-color: $color-light-smoke,
  $ui-background-gradient: $tabbar-background-gradient
);

// FIXME: Only apply for top, right and left tabs need additional tweaks

// add few pixel to keep tabs separated from surrounding container
.x-tab-bar-body-nx-light-top {
  padding-left: 5px;
}

// Set bottom border of tab-strip
.x-tab-bar-strip-nx-light-top {
  border-bottom: 1px solid $color-gainsboro;
  border-top: none;
}

// Override default treatment of the bottom borders
.x-tab-nx-light-top,
.x-tab-nx-light-top-disabled {
  border-bottom: 1px solid $color-light-smoke;
}

.x-tab-nx-light-top-active,
.x-tab-nx-light-top-active.x-tab-nx-light-top-over {
  border-bottom: 1px solid $color-light-smoke;
}

.x-tab-nx-light-top-over {
  border-bottom: 1px solid $color-gainsboro;
}

// Force the tab panel body to sit underneath the tab bar
.x-tab-bar + .x-panel-body {
  z-index: 0;
}