/**
 * @class NX.view.UnsupportedBrowser
 */

.nx-unsupported-browser {
  background-color: $color-white;

  .title {
    color: $color-night-rider;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }

  .description {
    font-size: 16px;
  }

  .icons {
    padding: 20px 0 50px 0;
  }
}