<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- disable logback initialization status messages, which go to stdout prior to the rest of this being loaded -->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <jmxConfigurator/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="org.sonatype.nexus.logging.NexusLogFilter" />
    <encoder>
      <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
    </encoder>
  </appender>

  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${karaf.data}/log/nexus.log</File>
    <Append>true</Append>
    <encoder class="org.sonatype.nexus.logging.NexusLayoutEncoder">
      <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %node %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${karaf.data}/log/nexus-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
    <filter class="org.sonatype.nexus.logging.NexusLogFilter" />
  </appender>

  <appender name="tasklogfile" class="ch.qos.logback.classic.sift.SiftingAppender">
    <filter class="org.sonatype.nexus.logging.TaskLogsFilter" />
    <discriminator>
      <key>taskIdAndDate</key>
      <defaultValue>unknown</defaultValue>
    </discriminator>
    <sift>
      <appender name="taskAppender" class="ch.qos.logback.core.FileAppender">
        <file>${karaf.data}/log/tasks/${taskIdAndDate}.log</file>
        <encoder class="org.sonatype.nexus.logging.NexusLayoutEncoder">
          <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %node %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>

  <appender name="replicationlogfile" class="ch.qos.logback.classic.sift.SiftingAppender">
    <filter class="org.sonatype.nexus.logging.ReplicationLogsFilter" />
    <discriminator>
      <key>repositoryName</key>
      <defaultValue>unknown</defaultValue>
    </discriminator>
    <sift>
      <appender name="replicationAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${karaf.data}/log/replication/replication-${repositoryName}.log</file>
        <encoder class="org.sonatype.nexus.logging.NexusLayoutEncoder">
          <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %node %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <fileNamePattern>${karaf.data}/log/replication/replication-${repositoryName}-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
          <maxHistory>90</maxHistory>
        </rollingPolicy>
      </appender>
    </sift>
  </appender>

  <appender name="requestslogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${karaf.data}/log/request.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${karaf.data}/log/request-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
  </appender>
  <logger name="org.eclipse.jetty.server.RequestLog" additivity="false">
    <appender-ref ref="requestslogfile"/>
  </logger>

  <appender name="outboundRequestslogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${karaf.data}/log/outbound-request.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
    <filter class="org.sonatype.nexus.logging.OutboundRequestsLogFilter" />
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${karaf.data}/log/outbound-request-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
  </appender>
  <logger name="outboundRequests">
    <appender-ref ref="outboundRequestslogfile"/>
  </logger>

  <appender name="auditlogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${karaf.data}/log/audit/audit.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
    <filter class="org.sonatype.nexus.logging.AuditLogFilter"/>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${karaf.data}/log/audit/audit-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
  </appender>

  <logger name="auditlog" additivity="false">
    <appender-ref ref="auditlogfile"/>
  </logger>

  <appender name="blobstore-reconciliation-log-file" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>blobstore-reconciliation-path</key>
      <defaultValue>unknown</defaultValue>
    </discriminator>
    <sift>
      <appender name="FILE-${blobstore}" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <Pattern>%d{"yyyy-MM-dd HH:mm:ss"},%msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <fileNamePattern>${blobstore-reconciliation-path}/%d</fileNamePattern>
          <maxHistory>90</maxHistory>
        </rollingPolicy>
      </appender>
    </sift>
  </appender>
  <logger name="blobstore-reconciliation-log" additivity="false">
    <appender-ref ref="blobstore-reconciliation-log-file"/>
  </logger>

  <appender name="metrics" class="org.sonatype.nexus.common.log.InstrumentedAppender"/>

  <logger name="ch.qos.logback" level="WARN"/>
  <logger name="org.eclipse.jetty.ee8.webapp" level="INFO"/>
  <logger name="org.eclipse.jetty.ee8.webapp.StandardDescriptorProcessor" level="WARN"/>

  <logger name="software.amazon.awssdk.services.ec2metadata" level="ERROR"/>
  <logger name="software.amazon.awssdk.auth.credentials" level="ERROR"/>
  <logger name="software.amazon.awssdk.regions" level="ERROR"/>

  <!-- Suppress noisy INFO output from the PortEx library used during IQ Server
       Firewall scanning of PE binaries (DLL/EXE) in Docker layers. See NEXUS-52197. -->
  <logger name="com.github.katjahahn" level="WARN"/>

  <include file="${karaf.data}/etc/logback/logback-tasklogfile-appender-override.xml" optional="true"/>

  <root level="${root.level:-INFO}">
    <appender-ref ref="console"/>
    <appender-ref ref="logfile"/>
    <appender-ref ref="tasklogfile"/>
    <appender-ref ref="replicationlogfile"/>
    <appender-ref ref="metrics"/>
  </root>
</configuration>
