/**
 * @class NX.wizard.Panel
 */

.nx-wizard-panel {
  padding: 12px 12px 12px 12px;
  border-top: 1px solid $color-gainsboro !important;

  .screencontainer, .screenheader {
    background-color: $color-white;
    border: 1px solid $color-gainsboro !important;
  }

  .screencontainer {
    padding: 12px 12px 12px 12px;
    border-top: 0 !important;
  }

  .screenheader {
    padding: 7px 8px 0 8px !important;
    border-bottom: 0 !important;
    line-height: $font-size-h3;

    .title {
      font-size: $font-size-h3;
      font-weight: $font-weight-h3;
    }

    .progress {
      font-size: $font-size-h5;
      font-weight: $font-weight-h5;
      color: $color-dark-gray;
    }
  }
}