#*
 * Sonatype Nexus (TM) Open Source Version
 * Copyright (c) 2008-present Sonatype, Inc.
 * All rights reserved. Includes the third-party code listed at http://links.sonatype.com/products/nexus/oss/attributions.
 *
 * This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
 * which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.
 *
 * Sonatype Nexus (TM) Professional Version is available from Sonatype, Inc. "Sonatype" and "Sonatype Nexus" are trademarks
 * of Sonatype, Inc. Apache Maven is a trademark of the Apache Software Foundation. M2eclipse is a trademark of the
 * Eclipse Foundation. All other trademarks are the property of their respective owners.
 *###
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--

    Sonatype Nexus (TM) Open Source Version
    Copyright (c) 2008-present Sonatype, Inc.
    All rights reserved. Includes the third-party code listed at http://links.sonatype.com/products/nexus/oss/attributions.

    This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
    which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.

    Sonatype Nexus (TM) Professional Version is available from Sonatype, Inc. "Sonatype" and "Sonatype Nexus" are trademarks
    of Sonatype, Inc. Apache Maven is a trademark of the Apache Software Foundation. M2eclipse is a trademark of the
    Eclipse Foundation. All other trademarks are the property of their respective owners.

-->
<html>
<head>
  <title>Copyright</title>
  <style type="text/css">
    body {
      font-family: arial, tahoma, verdana, helvetica, sans-serif;
      font-size: 14px;
      p {
        padding: 8px 0;
      }
    }
  </style>
</head>
<body>
#if($edition == "COMMUNITY")
  <p>
    All use of and access to Sonatype Nexus Repository Community Edition is governed by these 
    <a href="http://links.sonatype.com/products/nxrm/tos/ce" target="_blank" rel="noopener">terms and conditions</a>.
  </p>
#elseif($edition == "CORE")
  <p>
    Sonatype Nexus Repository Core: The core functionality of Nexus Repository is offered to the Community under the terms of the 
    <a href="http://links.sonatype.com/products/nxrm/tos/oc" target="_blank" rel="noopener">Eclipse Public License</a>.
  </p>
  <p>
    Sonatype Nexus Repository Core is distributed with Sencha Ext JS pursuant to a FLOSS Exception agreed upon between Sonatype, Inc. and Sencha Inc. Sencha Ext JS is licensed under GPL v3 and cannot be redistributed as part of a closed source work.
  </p>
#else
  <p>
    All use of and access to Sonatype Nexus Repository Professional is governed by these
    <a href="http://links.sonatype.com/products/nxrm/tos/pro" target="_blank" rel="noopener">terms and conditions</a>.
  </p>
#end
<p>
  Copyright &copy 2008-Present, Sonatype, Inc. All rights reserved.
</p>

</body>
</html>
