#*
 * Sonatype Nexus (TM) Open Source Version
 * Copyright (c) 2008-present Sonatype, Inc.
 * All rights reserved. Includes the third-party code listed at http://links.sonatype.com/products/nexus/oss/attributions.
 *
 * This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
 * which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.
 *
 * Sonatype Nexus (TM) Professional Version is available from Sonatype, Inc. "Sonatype" and "Sonatype Nexus" are trademarks
 * of Sonatype, Inc. Apache Maven is a trademark of the Apache Software Foundation. M2eclipse is a trademark of the
 * Eclipse Foundation. All other trademarks are the property of their respective owners.
 *###
#set($raptureUrl="$baseUrl/static/rapture")

<!DOCTYPE html>
<html>
<head>
  <title>Nexus Repository Manager</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Nexus Repository Manager"/>
  <meta http-equiv="X-UA-Compatible" content="IE=9"/>

#* START favicon links and meta
 * favicon set for multiple browsers, OS shortcuts, etc.
 * Generated at Real Favicon Generator, https://realfavicongenerator.net/
 *
 * Associated files not referenced explicitly in link or meta tags:
 *    mstile-*.png      - Win8+ desktop support
 *    browserconfig.xml - Win8+ desktop support
 *    apple-touch-icon.png  - OSX Safari desktop support
*#
## IE, early versions (comment required)
  <!--[if lt IE 9]>
    <script>(new Image).src="$raptureUrl/resources/favicon.ico?$urlSuffix"</script>
  <![endif]-->
## Safari on MacOS and iOS
  <link rel="icon" type="image/png" href="$raptureUrl/resources/favicon-32x32.png?$urlSuffix" sizes="32x32">
  <link rel="mask-icon" href="$raptureUrl/resources/safari-pinned-tab.svg?$urlSuffix" color="#5bbad5">
## classic favicon, shown in browser tabs
  <link rel="icon" type="image/png" href="$raptureUrl/resources/favicon-16x16.png?$urlSuffix" sizes="16x16">
## IE, later versions
  <link rel="shortcut icon" href="$raptureUrl/resources/favicon.ico?$urlSuffix">
## Win8+
  <meta name="msapplication-TileImage" content="$raptureUrl/resources/mstile-144x144.png?$urlSuffix">
  <meta name="msapplication-TileColor" content="#00a300">
## END favicon links

  
  #macro(style $src)
    <link rel="stylesheet" type="text/css" href="$src?$urlSuffix">
  #end

  ## Load all styles
  #foreach($uri in $styles)
    #style("$uri")
  #end

  ## Loading progress helpers
  <script type="text/javascript">
    function progressMessage(msg) {
      if (console && console.log) {
        console.log(msg);
      }
      document.getElementById('loading-msg').innerHTML=msg;
    }
  </script>
  #macro(message $text)
    <script type="text/javascript">progressMessage('$text');</script>
  #end
</head>
<body class="x-border-box">

<div id="loading-mask"></div>
<div id="loading">
  <div id="loading-background">
    <img id="loading-logo" src="$raptureUrl/resources/images/loading-logo.png?$urlSuffix"/>
    <img id="loading-product" src="$raptureUrl/resources/images/loading-product.png?$urlSuffix"/>
    <div class="loading-indicator">
      <img id="loading-spinner" src="$raptureUrl/resources/images/loading-spinner.gif?$urlSuffix"/>
      <span id="loading-msg">Loading ...</span>
    </div>
  </div>

  ## Code loading
  <div id="code-load" class="x-hide-display">
    #macro(script $src)
      <script type="text/javascript" src="$src?$urlSuffix"></script>
    #end

    ## Load all scripts
    #foreach($uri in $scripts)
      #message("Loading ${util.fileName($uri)}")
      #script("$uri")
    #end

    ## Finished
    #message("Initializing ...")
  </div>
</div>

## Fields required for history management
<form id="history-form" class="x-hide-display">
  <input type="hidden" id="x-history-field"/>
  <iframe id="x-history-frame"></iframe>
</form>

</body>
</html>
