/**
 * @class Ext.button.Button
 */

/**
 * ui: 'default'
 *
 * This is not namespaced, because 'default' is the theme a component
 * receives when 'ui' is not set.
 */

@include extjs-button-small-ui(
  $ui: 'default',

  $background-gradient: $color-white $color-light-gainsboro,
  $background-gradient-over: $color-light-gray $color-silver,
  $background-gradient-focus: $color-white $color-light-gainsboro,
  $background-gradient-pressed: $color-suva-gray $color-gray,
  $background-gradient-disabled: $color-white $color-light-gainsboro,

  $color: $color-night-rider,
  $color-over: $color-night-rider,
  $color-focus: $color-night-rider,
  $color-pressed: $color-white,
  $color-disabled: $color-dark-gray,

  $glyph-color: $color-night-rider,
  $glyph-opacity: 1
);

/**
 * ui: 'nx-plain'
 */

@include extjs-button-small-ui(
  $ui: 'nx-plain',

  $border-color: $color-gainsboro,
  $border-color-over: $color-gainsboro,
  $border-color-pressed: $color-gainsboro,
  $border-color-disabled: $color-gainsboro,

  $background-color: $color-white,
  $background-color-over: $color-light-gray,
  $background-color-focus: $color-white,
  $background-color-pressed: $color-suva-gray,
  $background-color-disabled: $color-white,

  $background-gradient: $color-white $color-light-gainsboro,
  $background-gradient-over: $color-light-gray $color-silver,
  $background-gradient-focus: $color-white $color-light-gainsboro,
  $background-gradient-pressed: $color-suva-gray $color-gray,
  $background-gradient-disabled: $color-white $color-light-gainsboro,

  $color: $color-night-rider,
  $color-over: $color-night-rider,
  $color-focus: $color-night-rider,
  $color-pressed: $color-white,
  $color-disabled: $color-dark-gray,

  $glyph-color: $color-night-rider,
  $glyph-opacity: 1
);

/**
 * ui: 'nx-primary'
 */

@include extjs-button-small-ui(
  $ui: 'nx-primary',

  $background-color: $color-denim,
  $background-color-over: $color-dark-denim,
  $background-color-focus: $color-denim,
  $background-color-pressed: $color-dark-cerulean,
  $background-color-disabled: $color-denim,

  $background-gradient: $color-denim $color-light-cobalt,
  $background-gradient-over: $color-dark-denim $color-smalt,
  $background-gradient-focus: $color-denim $color-light-cobalt,
  $background-gradient-pressed: $color-dark-cerulean $color-prussian-blue,
  $background-gradient-disabled: $color-denim $color-light-cobalt
);

/**
 * ui: 'nx-danger'
 */

@include extjs-button-small-ui(
  $ui: 'nx-danger',

  $background-color: $color-light-cerise,
  $background-color-over: $color-old-rose,
  $background-color-focus: $color-light-cerise,
  $background-color-pressed: $color-shiraz,
  $background-color-disabled: $color-light-cerise,

  $background-gradient: $color-light-cerise $color-brick-red,
  $background-gradient-over: $color-old-rose $color-fire-brick,
  $background-gradient-focus: $color-light-cerise $color-brick-red,
  $background-gradient-pressed: $color-shiraz $color-falu-red,
  $background-gradient-disabled: $color-light-cerise $color-brick-red
);

/**
 * ui: 'nx-warning'
 */

@include extjs-button-small-ui(
  $ui: 'nx-warning',

  $background-color: $color-sea-buckthorn,
  $background-color-over: $color-zest,
  $background-color-focus: $color-sea-buckthorn,
  $background-color-pressed: $color-afghan-tan,
  $background-color-disabled: $color-sea-buckthorn,

  $background-gradient: $color-sea-buckthorn $color-tahiti-gold,
  $background-gradient-over: $color-zest $color-rich-gold,
  $background-gradient-focus: $color-sea-buckthorn $color-tahiti-gold,
  $background-gradient-pressed: $color-afghan-tan $color-russet,
  $background-gradient-disabled: $color-sea-buckthorn $color-tahiti-gold
);

/**
 * ui: 'nx-success'
 */

@include extjs-button-small-ui(
  $ui: 'nx-success',

  $background-color: $color-elf-green,
  $background-color-over: $color-salem,
  $background-color-focus: $color-elf-green,
  $background-color-pressed: $color-fun-green,
  $background-color-disabled: $color-elf-green,

  $background-gradient: $color-elf-green $color-dark-pigment-green,
  $background-gradient-over: $color-salem $color-jewel,
  $background-gradient-focus: $color-elf-green $color-dark-pigment-green,
  $background-gradient-pressed: $color-fun-green $color-dark-jewel,
  $background-gradient-disabled: $color-elf-green $color-dark-pigment-green
);

// Fix glyph font size so the top of the icon isn’t cropped
.x-btn-default-small,
.x-btn-plain-small,
.x-btn-primary-small,
.x-btn-danger-small,
.x-btn-warning-small,
.x-btn-success-small {
  .x-btn-glyph {
    font-size: $font-size-body;
  }
}
