<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <jmxConfigurator/>

  <appender name="osgi" class="org.ops4j.pax.logging.logback.appender.PaxAppenderDelegate">
    <filter class="org.sonatype.nexus.pax.logging.NexusLogFilter" />
  </appender>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="org.sonatype.nexus.pax.logging.NexusLogFilter" />
    <encoder>
      <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
    </encoder>
  </appender>

  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${karaf.data}/log/nexus.log</File>
    <Append>true</Append>
    <encoder class="org.sonatype.nexus.pax.logging.NexusLayoutEncoder">
      <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %node %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${karaf.data}/log/nexus-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
    <filter class="org.sonatype.nexus.pax.logging.NexusLogFilter" />
  </appender>

  <appender name="tasklogfile" class="ch.qos.logback.classic.sift.SiftingAppender">
    <filter class="org.sonatype.nexus.pax.logging.TaskLogsFilter" />
    <discriminator>
      <key>taskIdAndDate</key>
      <defaultValue>unknown</defaultValue>
    </discriminator>
    <sift>
      <appender name="taskAppender" class="ch.qos.logback.core.FileAppender">
        <file>${karaf.data}/log/tasks/${taskIdAndDate}.log</file>
        <encoder class="org.sonatype.nexus.pax.logging.NexusLayoutEncoder">
          <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %-5p [%thread] %node %mdc{userId:-*SYSTEM} %c - %m%n</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>

  <appender name="metrics" class="org.sonatype.nexus.pax.logging.InstrumentedAppender"/>

  <logger name="org.eclipse.jetty.webapp" level="INFO"/>
  <logger name="org.eclipse.jetty.webapp.StandardDescriptorProcessor" level="WARN"/>

  <logger name="org.apache.aries" level="WARN"/>
  <logger name="org.apache.felix" level="WARN"/>
  <logger name="org.apache.karaf" level="WARN"/>

  <include file="${karaf.data}/etc/logback/logback-overrides.xml" optional="true"/>

  <root level="${root.level:-INFO}">
    <appender-ref ref="osgi"/>
    <appender-ref ref="console"/>
    <appender-ref ref="logfile"/>
    <appender-ref ref="tasklogfile"/>
    <appender-ref ref="metrics"/>
  </root>
</configuration>
