#
# The properties in this file define the configuration of Apache Karaf's JMX Management
#

#
# Port number for RMI registry connection
#
rmiRegistryPort = 8099

#
# Host for RMI registry
#
rmiRegistryHost = 0.0.0.0

#
# Port number for RMI server connection
#
rmiServerPort = 8044

#
# Host for RMI server
#
rmiServerHost = 0.0.0.0

#
# Name of the JAAS realm used for authentication
#
jmxRealm = shiro

#
# The service URL for the JMXConnectorServer
#
serviceUrl = service:jmx:rmi://${rmiServerHost}:${rmiServerPort}/jndi/rmi://${rmiRegistryHost}:${rmiRegistryPort}/karaf-${karaf.name}

#
# Whether any threads started for the JMXConnectorServer should be started as daemon threads
#
daemon = true

#
# Whether the JMXConnectorServer should be started in a separate thread
#
threaded = true

#
# The ObjectName used to register the JMXConnectorServer
#
objectName = connector:name=rmi
