/**
 * @class NX.coreui.view.routing.RoutingRulesSinglePreview
 */
.nx-routing-rules-single-preview-field-wrapper {
  .nx-routing-rules-test-path-container {
    & > .x-form-item-body {
      border: solid 1px $color-gainsboro;
    }

    &.nx-textfield-focused > .x-form-item-body {
      border-color: $color-light-blue;
    }

    .nx-routing-rules-path-prefix {
      color: $color-dark-gray;
      font-size: 1.8em;
      padding: 4px 0 0 5px;
      display: inline-block;
    }

    .x-form-trigger-wrap {
      border: none;
    }

    input[name=path] {
      padding-left: 2px;
    }
  }

  .nx-routing-rules-test-result {
    align-items: center;
    color: $color-salem;
    display: inline-flex;
    line-height: 2em;
    justify-content: flex-start;

    span.x-fa {
      align-items: center;
      display: inline-flex;
      font-size: 1.5em;
      padding-right: 5px;
    }
  }

  &.blocked {
    .nx-routing-rules-test-result {
      color: $color-free-speech-red;
    }

    .nx-routing-rules-test-path-container > .x-form-item-body {
      border-color: $color-free-speech-red;
    }
  }

  &.allowed {
    .nx-routing-rules-test-path-container > .x-form-item-body {
      border-color: $color-salem;
    }
  }
}
