<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <logger name="org.sonatype.nexus.orient" level="DEBUG"/>
  <logger name="com.orientechnologies.orient" level="DEBUG"/>

  <!--
  HACK: keep ODatabaseRecordAbstract anonymous bits from complaining about unsupported sbtree collections
  HACK: for 'memory' and 'local' storage (use of 'plocal' doesn't have this warning).
  -->
  <logger name="com.orientechnologies.orient.core.db.record" level="ERROR"/>

  <root level="${test.log.level:-INFO}">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
