/**
 * @class Ext.panel.Panel
 */

/**
 * ui: 'nx-inset'
 */
@include extjs-panel-ui(
  $ui: 'nx-inset',

  $ui-padding: 12px 12px 0 12px
);

.x-panel-nx-inset {
  .x-panel-body {
    .x-toolbar {
      padding: 6px 0 6px 0;
    }
  }

  .x-panel-nx-subsection-framed {
    margin: 0 0 10px 0;
  }
}

/**
 * Style for the global "license warning" header
 */
@include extjs-panel-ui(
        $ui: 'nx-license-warning',
        $ui-header-background-color: $color-charcoal
);

.x-panel-nx-license-warning .x-panel-header {
  padding: 5px 16px;
}
.x-panel-nx-license-warning {
  color: $color-white;
}

.x-panel-nx-license-warning a,
.x-panel-nx-license-warning a:visited,
.x-panel-nx-license-warning a:active {
  color: $color-gainsboro;
}

.x-panel-nx-license-warning a:hover {
  color: $color-white;
  text-decoration: underline;
}

/**
 * Style for the global "node frozen warning" header
 */
.x-panel-nx-database-freeze-warning {
  @extend .x-panel-nx-license-warning;
  background-color: $color-alert-purple;
}

.x-panel-header-text-container-nx-database-freeze-warning {
  margin-left: 6px;
  font-weight: bold;
}

/**
* Style for the "transparent" inter-page panels
*
* ui: 'subsection'
*/

@include extjs-panel-ui(
  $ui: 'nx-subsection',

  $ui-header-color: $color-night-rider,
  $ui-header-font-size: $font-size-h4,
  $ui-header-background-color: $color-white,
  $ui-header-line-height: 22px
);

@include extjs-panel-ui(
  $ui: 'nx-subsection-framed',

  $ui-header-color: $color-night-rider,
  $ui-header-font-size: $font-size-h4,
  $ui-header-background-color: $color-white,
  $ui-header-line-height: 22px,
  $ui-body-background-color: $color-white
);

.x-panel-nx-subsection > .x-panel-header {
  padding: 10px 0 5px 0 !important;
}

.x-panel-nx-subsection-framed {
  border: $color-gainsboro 1px solid;
}

.x-panel-nx-subsection-framed > .x-panel-header {
  padding: 10px 9px 5px 9px !important;
}

.x-panel-nx-subsection-framed > .x-panel-body {
  padding: 9px 9px 10px 9px !important;
}

/**
 * cls: 'nx-hr'
 */
.nx-hr {
  border-top: 1px solid $color-gainsboro !important;
}

/**
 * Style for the 'too many results' panel on the search page
 */
@include extjs-panel-ui(
  $ui: 'nx-info-message',

  $ui-header-background-color: $color-white,
  $ui-header-color: $color-night-rider
);
.x-panel-nx-info-message .x-header {
  padding: 0 10px 10px 10px;
}
.nx-search-result-list {
  border-top: 1px solid $color-gainsboro;
}
