/**
 * Fonts
 */

$font-regular: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-monospace: "Courier New", Courier, monospace;

/**
 * Type styles
 */

$font-size-h1:          32px;
$font-size-h2:          22px;
$font-size-h3:          16px;
$font-size-h4:          14px;
$font-size-h5:          12px;
$font-size-body:        16px;
$font-size-code:        16px;
$font-size-utility:     12px;

$font-weight-h1:        100;
$font-weight-h2:        bold;
$font-weight-h3:        bold;
$font-weight-h4:        bold;
$font-weight-h5:        bold;
$font-weight-body:      normal;
$font-weight-code:      normal;
$font-weight-utility:   normal;
