#
# This configuration file is used to configure the default values for the log:display
# and log:exception-display commands.
#

# The number of log statements to be displayed using log:display
size=500

# this matches the pattern in logback.xml with a few caveats
# the date %d parameter is split up to avoid quoting in output
# the %n parameter is omitted to avoid duplicate new lines
# the %thread parameter becomes %t
# the %mdc parameter becomes %X and doesn't have a default value
pattern=%d{yyyy-MM-dd} %d{HH:mm:ss,SSSZ} %-5p [%t] %X{userId} %c - %m
