/**
 * @class Ext.window.Window
 */

$panel-frame-border-width: 2px;
$window-header-background-color: $color-smoke;
$window-header-color: $color-night-rider;
$window-header-border-width: 0;
$window-header-padding: 10px;
$window-header-line-height: 22px;
$window-header-font-size: $font-size-h4;
$window-header-font-weight: $font-weight-h4;
$window-tool-background-image: 'tools/tool-sprites-dark';