/**
 * @class Ext.form.Fieldset
 */

fieldset.nx-form-section {
  margin-bottom: 0;
  padding-bottom: 20px;

  & > .x-fieldset-header > .x-fieldset-header-text {
    font-size: $font-size-h4;
    line-height: 22px;
  }

  .x-fieldset-body {
    padding-left: 10px;
  }

  &.nx-no-title {
    padding-top: 0;
  }
}

fieldset.nx-coreui-routing-rules-settings-form-matchers {
  margin-bottom: 0;
  padding-bottom: 0;

  .x-fieldset-body {
    padding-left: 0;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .nx-matcher-remove-button {
    margin-left: 10px;
  }
}
