/**
 * @class Ext.form.Fieldset
 */

fieldset.nx-form-section {
  margin-bottom: 0;
  padding-bottom: 20px;

  & > .x-fieldset-header > .x-fieldset-header-text {
    font-size: $font-size-h4;
    line-height: 22px;
  }

  .x-fieldset-body {
    padding-left: 10px;
    padding-right: 10px;
  }

  &.nx-no-title {
    padding-top: 0;
  }
}

.x-panel-nx-subsection-with-background-framed fieldset.nx-form-section {
  padding-bottom: 0;
}

fieldset.x-fieldset {
  // See https://www.sencha.com/forum/showthread.php?423768-ExtJS-6-5-0-Fieldset-legend-are-not-visible-in-Safari-11
  overflow: visible;
}
