#*
 * Sonatype Nexus (TM) Open Source Version
 * Copyright (c) 2008-present Sonatype, Inc.
 * All rights reserved. Includes the third-party code listed at http://links.sonatype.com/products/nexus/oss/attributions.
 *
 * This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
 * which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.
 *
 * Sonatype Nexus (TM) Professional Version is available from Sonatype, Inc. "Sonatype" and "Sonatype Nexus" are trademarks
 * of Sonatype, Inc. Apache Maven is a trademark of the Apache Software Foundation. M2eclipse is a trademark of the
 * Eclipse Foundation. All other trademarks are the property of their respective owners.
 *###
#set($raptureUrl="$baseUrl/static/rapture")

<!DOCTYPE html>
<html>
<head>
  <title>Nexus Repository Manager</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Nexus Repository Manager"/>
  <meta http-equiv="X-UA-Compatible" content="IE=9"/>

  <link rel="icon" type="image/png" href="$raptureUrl/resources/favicon.png?$urlSuffix"/>
  <!--[if IE]>
  <link rel="SHORTCUT ICON" href="$raptureUrl/resources/favicon.ico?$urlSuffix"/>
  <![endif]-->

  #macro(style $src)
    <link rel="stylesheet" type="text/css" href="$src?$urlSuffix">
  #end

  ## Load all styles
  #foreach($uri in $styles)
    #style("$uri")
  #end

  ## Loading progress helpers
  <script type="text/javascript">
    function progressMessage(msg) {
      if (console && console.log) {
        console.log(msg);
      }
      document.getElementById('loading-msg').innerHTML=msg;
    }
  </script>
  #macro(message $text)
    <script type="text/javascript">progressMessage('$text');</script>
  #end
</head>
<body class="x-border-box">

<div id="loading-mask"></div>
<div id="loading">
  ## Loading progress indicator
  <div class="loading-indicator">
    <img id="loading-image" src="$raptureUrl/resources/images/loading.png?$urlSuffix"/>
    <br/>
    <div style="text-align: center;">
      <img id="loading-spinner" src="$raptureUrl/resources/images/loading-spinner.gif?$urlSuffix"/>
      <span id="loading-msg">Loading...</span>
    </div>
  </div>

  ## Code loading
  <div id="code-load" class="x-hide-display">
    #macro(script $src)
      <script type="text/javascript" src="$src?$urlSuffix"></script>
    #end

    #message("Loading...")

    ## Load all scripts
    #foreach($uri in $scripts)
      #message("Loading ${util.fileName($uri)}")
      #script("$uri")
    #end

    ## Finished
    #message("Initializing")
  </div>
</div>

## Fields required for history management
<form id="history-form" class="x-hide-display">
  <input type="hidden" id="x-history-field"/>
  <iframe id="x-history-frame"></iframe>
</form>

</body>
</html>
