/**
 * @class Ext.Component
 */

// Sets the overall charcoal-like tone of the application
$base-color: $color-charcoal;

// Use the same font-family for everything
$font-family: $font-regular;
$color: $color-night-rider;