.nx-coreui-component-analyticsoptout-banner-outline {
  padding: 14px 24px 15px 13px;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
}

.nx-coreui-component-analyticsoptout-banner-text {
  margin: 8.4px 52px 6.6px 15px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #474747;
}

.nx-coreui-component-analyticsoptout-banner-text-link {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #045dd1;
  text-decoration:none;
  cursor: pointer;
}

.nx-coreui-component-analyticsoptout-banner-rectangle {
  width: 74px;
  height: 41px;
  margin: 11px 0 11px 0px;
  padding: 8px 24px;
  border-radius: 6px;
  background-color: #045dd1;
  cursor: pointer;
}

.nx-coreui-component-analyticsoptout-banner-button-text {
  width: 26px;
  height: 25px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff;
}

.nx-coreui-component-analyticsoptout-banner-icon {
  width: 63px;
  height: 63px;
}


