/**
 * @class Ext.button.Button
 */

$button-default-color: $color-white;
$button-default-color-over: $color-white;
$button-default-color-focus: $color-white;
$button-default-color-pressed: $color-white;
$button-default-color-disabled: $color-white;

$button-default-border-color: $color-night-rider;
$button-default-border-color-over: $color-night-rider;
$button-default-border-color-focus: $color-cornflower;
$button-default-border-color-pressed: $color-night-rider;
$button-default-border-color-disabled: $color-night-rider;

$button-small-font-size: $font-size-body;
$button-small-font-size-over: $font-size-body;
$button-small-font-size-focus: $font-size-body;
$button-small-font-size-pressed: $font-size-body;
$button-small-font-size-disabled: $font-size-body;

$button-small-font-weight: $font-weight-body;
$button-small-font-weight-over: $font-weight-body;
$button-small-font-weight-focus: $font-weight-body;
$button-small-font-weight-pressed: $font-weight-body;
$button-small-font-weight-disabled: $font-weight-body;

$button-medium-font-weight: $font-weight-body;
$button-medium-font-weight-over: $font-weight-body;
$button-medium-font-weight-focus: $font-weight-body;
$button-medium-font-weight-pressed: $font-weight-body;
$button-medium-font-weight-disabled: $font-weight-body;

$button-default-glyph-color: $color-white;
$button-default-glyph-opacity: 1;

$button-toolbar-color: $color-night-rider;
$button-toolbar-color-over: $color-night-rider;
$button-toolbar-color-focus: $color-night-rider;
$button-toolbar-color-pressed: $color-white;
$button-toolbar-color-disabled: $color-night-rider;

$button-toolbar-border-color-focus: $color-cornflower;

$button-toolbar-glyph-color: $color-night-rider;
$button-toolbar-glyph-opacity: 1;

$button-disabled-opacity: 0.5;

$button-toolbar-background-gradient: $color-white $color-light-gainsboro;
$button-toolbar-background-gradient-over: $color-light-gray $color-silver;
$button-toolbar-background-gradient-focus: $color-white $color-light-gainsboro;
$button-toolbar-background-gradient-pressed: $color-suva-gray $color-gray;
$button-toolbar-background-gradient-disabled: $color-white $color-light-gainsboro;
