/**
* @class Ext.ux.form.ItemSelector
*/

.nx-itemselector-disabled {
  .x-form-item-label {
    opacity: 1;
  }
  .x-toolbar.x-item-disabled {
    visibility: hidden;
  }
  .nx-filterbox {
    display: none;
  }
}

.x-form-itemselector-body .x-form-item {
  margin: 0;
}
