/**
* @class Ext.ux.form.MultiSelect
*/

.nx-multiselect {
  .x-panel-header {
    background-color: transparent;
    border: none;
    padding-left: 0;
    padding-bottom: 9px;
    padding-right: 0;

    .x-title-text {
      color: $color-night-rider;
      font-weight: normal;
    }
  }

  .x-form-item .x-form-trigger-wrap {
    margin-bottom: 9px;
  }

  .x-panel-body {
    border: 1px $color-gainsboro solid !important;
  }

  &.x-form-item-default.x-item-disabled, .x-form-item-default.x-item-disabled {
    -ms-filter: none;
    opacity: 1;
  }
}


.x-form-fieldcontainer.nx-invalid {
  .nx-multiselect:nth-child(3) {
    .x-panel-body {
      border: 1px $color-cerise solid !important;
    }
  }
}

.x-form-multiselect-body .x-boundlist .x-mask {
  background: none;
}
