#*
 * Sonatype Nexus (TM) Open Source Version
 * Copyright (c) 2008-present Sonatype, Inc.
 * All rights reserved. Includes the third-party code listed at http://links.sonatype.com/products/nexus/oss/attributions.
 *
 * This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
 * which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.
 *
 * Sonatype Nexus (TM) Professional Version is available from Sonatype, Inc. "Sonatype" and "Sonatype Nexus" are trademarks
 * of Sonatype, Inc. Apache Maven is a trademark of the Apache Software Foundation. M2eclipse is a trademark of the
 * Eclipse Foundation. All other trademarks are the property of their respective owners.
 *###
<html>
  <head>
    <title>$statusCode - $statusName</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    ##
    ## FIXME: This is duplicated error-page handling, which will go away once restlet is removed.
    ##

    <link rel="icon" type="image/png" href="$nexusRoot/favicon.png">
    <!--[if IE]>
    <link rel="SHORTCUT ICON" href="$nexusRoot/favicon.ico"/>
    <![endif]-->

    <link rel="stylesheet" href="$nexusRoot/static/css/Sonatype-content.css?$nexusVersion" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <h1>$statusCode - $statusName</h1>
    <p>$errorDescription</p>
  </body>
</html>
