/**
 * @class Ext.form.Fieldset
 */

$fieldset-header-font-size: $font-size-h5;
$fieldset-header-font-weight: $font-weight-h5;
$fieldset-padding: 10px 0 25px 0px;
$fieldset-header-padding: 0 8px 0 0;
$fieldset-border-width: 0;